.input-field {
    border-radius: 6px;
    width: 100%;
    padding: 8px 15px;
}

.input-field--white {
    border: 1px solid #fff;
}

.input-field--black {
    border: 1px solid hsl(0, 0%, 13%);
}

.input-item__container {
    width: 100%;
    padding: 2% 2% 0;
}

@media all and (max-width: 960px) {
    .input-item__container {
        padding: 2% 2% 8%;
    }

}
